     <div class="container">

         <div class="footer">
              <div class="contact">
               
                 <ul class="lead list-unstyled">
                      <li>
                        <span>leo-feng</span>
                        <a href="http://github.com/leo-feng">http://github.com/leo-feng</a><br />
                      </li>
                      <hr class="featurette-divider">
                      <li>
                        <span>mail</span>
                        <a href="http://github.com/leo-feng">liyangsince1990@gmail.com</a><br />
                      </li>
                      <hr class="featurette-divider">
                 </ul>
               </div>
   </div>
