---
layout: lifelayout
title: leo-feng
---

<!-- <h2>{{ page.title }}</h2>!-->

<!--<p>最新文章</p>!-->

<div id="home" style = "text-align:justify">
<small >无论我此刻是多么的彷徨迷茫，最终我都会过上自己想要的生活。</small>
  
  <ul class="list-unstyled">

    {% for post in site.posts %}
	{% if post.style == 0 %}
      		<li>
      			<span>{{ post.date | date_to_string }}</span> &raquo;
      					<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      		</li>
          <hr class="featurette-divider">
	{% endif %}
    {% endfor %}
  </ul>


</div>


