---
layout: default
title: leo-feng
---

<!-- <h2>{{ page.title }}</h2>!-->

<!--<p>最新文章</p>!-->

<div id="home" style = "text-align:justify">

  <h1>Blog Posts</h1>
  <ul class="list-unstyled">

    {% for post in site.posts %}
	{% if post.style == 0 %}
      		<li>
      			<span>{{ post.date | date_to_string }}</span> &raquo;
      					<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      		</li>
          <hr class="featurette-divider">
	{% endif %}
    {% endfor %}
  </ul>


</div>


