---
layout: default
title: leo-feng
---

<!-- <h2>{{ page.title }}</h2>!-->

<!--<p>最新文章</p>!-->

<div id="home">

  <h1>Blog Posts</h1>
  <ul class="lead list-unstyled">

    {% for post in site.posts %}
	{% if post.style == 1 %}
      		<li>
      			<div class = "row">
      				<div class = "col-xs-4">
      			<span>{{ post.date | date_to_string }}</span> &raquo;
      				</div>
      				<div class ="col-md-4">
      					<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      				</div>
      			</div>
      		</4i>
          <hr class="featurette-divider">
	{% endif %}
    {% endfor %}
  </ul>


</div>


