<!DOCTYOPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<link rel="shortcut icon" href="../docs-assets/ico/favicon.png">
    	<!-- Bootstrap core CSS -->
    	<link href="/leo-feng/lemon_css/dist/css/bootstrap.css" rel="stylesheet">

    	<!-- Custom styles for this template -->
    	<link href="/leo-feng/lemon_css/dist/starter-template.css" rel="stylesheet">


	<title>{{ page.title }}</title>

	<meta name="author" content="leo-feng" />


   	<!-- Homepage CSS -->
	<script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
<div class="site">
  <div class="title">
    <a href="">lemon</a>
    <a class="extra" href="/leo-feng/index.html">home</a>
  </div>

	{{ content }}

 <div class="footer">
    <div class="contact">
      <p>
        leo-feng<br />
        Cofounder of <a href="http://github.com/">GitHub</a><br />
        wondeful_life@hotmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/leo-feng">lemon</a><br />
        <a href="http://easou.com/">tree</a><br />
        <a href="http://easou.com">ala</a>
      </p>
    </div>
 </div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="/leo-feng/lemon_css/dist/js/bootstrap.min.js"></script>
</body>
</html>



