<!DOCTYOPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<link rel="shortcut icon" href="../docs-assets/ico/favicon.png">
    	<!-- Bootstrap core CSS -->
    	<link href="/leo-feng/lemon_css/UI/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/leo-feng/lemon_css/UI/css/flat-ui.css" rel="stylesheet">
    	<!-- Custom styles for this template -->
    	<link href="/leo-feng/lemon_css/dist/starter-template.css" rel="stylesheet">


	<title>{{ page.title }}</title>

	<meta name="author" content="leo-feng" />


   	<!-- Homepage CSS -->
	<script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">lemon·note</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<div class="container">
  		<div class="title starter-template">
			{{ content }}
  		</div>

 <div class="footer">
    <div class="contact">
      <p>
        leo-feng<br />
        Cofounder of <a href="http://github.com/">GitHub</a><br />
        wondeful_life@hotmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/leo-feng">lemon</a><br />
        <a href="http://easou.com/">tree</a><br />
        <a href="http://easou.com">ala</a>
      </p>
    </div>
 </div>
 </div>
 </div>
    <script src="/leo-feng/lemon_css/UI/js/bootstrap.min.js"></script>
    <script src="/leo-feng/lemon_css/UI/js/jquery-1.8.3.min.js"></script>
    <script src="/leo-feng/lemon_css/UI/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/leo-feng/lemon_css/UI/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/leo-feng/lemon_css/UI/js/bootstrap-select.js"></script>
    <script src="/leo-feng/lemon_css/UI/js/bootstrap-switch.js"></script>
    <script src="/leo-feng/lemon_css/UI/js/flatui-checkbox.js"></script>
    <script src="/leo-feng/lemon_css/UI/js/flatui-radio.js"></script>
    <script src="/leo-feng/lemon_css/UI/js/jquery.tagsinput.js"></script>
    <script src="/leo-feng/lemon_css/UI/js/jquery.placeholder.js"></script>
    <script src="/leo-feng/lemon_css/UI/js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="/leo-feng/lemon_css/UI/js/application.js"></script>
</body>
</html>



