{% include head.html %}
    	<!-- Custom styles for this template -->
    	<link href="/leo-feng/lemon_css/dist/starter-template.css" rel="stylesheet">
</head>

<body>
{% include navi.html %}

     
  <div class="container">
	<blockquote>
  	<h2>Blog Posts</h2>

  		<small> 「Stay hungry. Stay foolish.」</small>
  		</blockquote>
	<div class="title starter-template">

          {{ content }}

        </div>
   </div>

    {% include footer.html %}</div>

    {% include script.html %}

</body>
</html>



